@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-list {
  background-color: #2f5c42;
  min-width: 25rem;
  min-height: 33rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.todo-list__header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  color: #fff;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.header__time {
  width: 11rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.header__task {
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-list__form {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1.2rem;
  font-size: 1.2rem;
}

.form {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__submit {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.from__text--sub {
  color: #fff;
  width: 16rem;
  word-wrap: break-word;
}

.form__button--add {
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-plus-lg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
  font-size: 2.3rem;
}

.submit--text {
  width: 80%;
  height: 100%;
  border: none;
  color: #121212;
  padding: 0 0.8rem;
}

.submit--btn {
  width: 20%;
  height: 100%;
  border: none;
  background-color: #2d4a39;
  color: #fff;
  transition: 0.25s;
}

.submit--btn:hover {
  background-color: #49765c;
  transition: 0.25s;
  cursor: pointer;
}

.todo-list__content {
  height: 24rem;
  border-radius: 0 0 25px 25px;
  padding: 0 1.2rem 1.2rem;
  display: grid;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  padding: 0.2rem;
}

.todo {
  min-height: 5rem;
  max-width: 100%;
  color: #fff;
  background-color: #2d4a39;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
}

.todo__content {
  word-break: break-word;
  max-width: 16rem;
}

.todo__delete {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  border-radius: 100rem;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
